.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
.idea/workspace.xml
.idea/workspace.xml
java new/.idea/.name
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
java new/.idea/compiler.xml
.idea/workspace.xml
java new/.idea/workspace.xml
sandbox/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_2_52_0.xml
sandbox/.idea/libraries/Gradle__org_eclipse_jetty_websocket_websocket_common_9_2_12_v20150709.xml
sandbox/.idea/workspace.xml
sandbox/.idea/libraries/Gradle__org_beanshell_bsh_2_0b4.xml
addressbook-web-tests/addressbook-web-tests.iml
addressbook-web-tests/build.gradle
addressbook-web-tests/gradle/wrapper/gradle-wrapper.jar
addressbook-web-tests/gradlew
sandbox/.idea/gradle.xml
addressbook-web-tests/gradle/wrapper/gradle-wrapper.properties
addressbook-web-tests/gradlew.bat
sandbox/.idea/gradle.xml
sandbox/.idea/gradle.xml
sandbox/.idea/libraries/Gradle__cglib_cglib_nodep_2_1_3.xml
sandbox/.idea/gradle.xml
sandbox/.idea/libraries/Gradle__commons_codec_commons_codec_1_10.xml
sandbox/.idea/libraries/Gradle__commons_collections_commons_collections_3_2_2.xml
sandbox/.idea/libraries/Gradle__commons_io_commons_io_2_4.xml
sandbox/.idea/workspace.xml
sandbox/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_2_52_0.xml
sandbox/.idea/libraries/Gradle__org_eclipse_jetty_jetty_util_9_2_12_v20150709.xml
sandbox/.idea/libraries/Gradle__org_eclipse_jetty_websocket_websocket_api_9_2_12_v20150709.xml
sandbox/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_1.xml
sandbox/.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_4.xml
sandbox/.idea/libraries/Gradle__net_java_dev_jna_jna_platform_4_1_0.xml
sandbox/.idea/libraries/Gradle__net_java_dev_jna_jna_4_1_0.xml
sandbox/.idea/libraries/Gradle__io_netty_netty_3_5_2_Final.xml
sandbox/.idea/libraries/Gradle__com_google_guava_guava_19_0.xml
sandbox/.idea/libraries/Gradle__net_sourceforge_htmlunit_htmlunit_2_18.xml
sandbox/.idea/libraries/Gradle__net_sourceforge_nekohtml_nekohtml_1_9_22.xml
sandbox/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_3.xml
sandbox/.idea/libraries/Gradle__org_eclipse_jetty_jetty_io_9_2_12_v20150709.xml
sandbox/.idea/libraries/Gradle__net_sourceforge_cssparser_cssparser_0_9_16.xml
sandbox/.idea/libraries/Gradle__com_google_code_gson_gson_2_3_1.xml
sandbox/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
sandbox/.idea/libraries/Gradle__net_sourceforge_htmlunit_htmlunit_core_js_2_17.xml
sandbox/.idea/libraries/Gradle__org_apache_httpcomponents_httpmime_4_5.xml
sandbox/.idea/libraries/Gradle__com_beust_jcommander_1_48.xml
sandbox/.idea/workspace.xml
sandbox/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_2_52_0.xml
sandbox/.idea/libraries/Gradle__org_eclipse_jetty_websocket_websocket_client_9_2_12_v20150709.xml
sandbox/.idea/libraries/Gradle__org_apache_commons_commons_exec_1_3.xml
sandbox/.idea/gradle.xml
sandbox/.idea/workspace.xml
sandbox/.idea/gradle.xml
sandbox/.idea/gradle.xml
sandbox/.idea/gradle.xml
sandbox/.idea/workspace.xml
